* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	object-fit: contain;
}

:root {
	font-size: 16px;
}

body {
	background-image: url(./assets/imgs/stars.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: monospace;
	color: white;
}

a {
	text-decoration: none;
}

.container {
	padding: 1rem 1rem 0 1rem;
}

.section-padding {
	padding: 2rem 1rem;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* ********************** Main Button *********************** */

.main-button {
	border: 2px solid aqua;
	background-color: transparent;
	color: aqua;
	padding: 0.5rem 1rem;
	font-weight: bold;
	font-size: 0.9rem;
	cursor: pointer;
}

.main-button:hover {
	border: 2px solid white;
	color: white;
}

/* Header ************************ */

header {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 500;
	width: 100%;
	position: relative;
}

.navbar {
	width: 100%;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(27, 2, 167, 0.6);
	box-shadow: 0px 10px 20px -10px black;
	transition: all 1s linear;
	position: relative;
}

header:hover .navbar {
	transform: perspective(100px) translateZ(30px) translateY(80px) rotate(90deg);
	box-shadow: 50px 50px 70px -50px black;
	box-shadow: 10px 0 30px -10px black;
	height: 11rem;
	width: 15rem;
	margin-bottom: 13rem;
}

.menu-title {
	position: absolute;
	transition: all 1s linear;
	transform: perspective(10px);
	background-color: rgb(128, 128, 128, 0.4);
	padding: 0.5rem 1rem 4rem 1rem;
	box-shadow: 0px 10px 20px -10px black;
	padding: 1rem 1.5rem 5rem 1.5rem;
	font-size: 0.8rem;
}

header:hover .menu-title {
	transform: rotate(-90deg) translateY(-120px) translateZ(20px);
	padding: 0.4rem 1rem;
}

.links {
	position: absolute;
	transform: perspective(10px) translateZ(-20px) translateY(50px);
	transition: all 1s linear;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

header:hover .links {
	transform: rotate(-90deg) translateZ(10px) translateY(5px) scale(1.2);
	gap: 1.5rem;
}

.links a {
	color: white;
	width: 8rem;
	transition: all 1s linear;
	background-color: white;
}

header:hover .links a {
	background-color: transparent;
	width: fit-content;
}

.left-header,
.right-header {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	z-index: 200;
	transition: all 1s linear;
}

.left-header {
	left: 2rem;
}

.right-header {
	right: 2rem;
}

.left-header img,
.right-header img {
	filter: grayscale(1) contrast(0.4);
	height: 40px;
	width: auto;
	margin: 0.3rem;
	transition: all 1s linear;
}

header:hover .left-header,
header:hover .right-header {
	visibility: hidden;
	opacity: 0;
}

/* Home **************************************************************** */

.home-content {
	box-shadow: 0px 10px 20px -10px black;
	background-color: rgba(36, 37, 37, 0.8);
	flex-direction: column;
	gap: 2rem;
	min-height: calc(100vh - 13rem);
}

.left-home,
.right-home {
	gap: 2rem;
}

.left-home span {
	color: aqua;
}

.left-home * {
	width: 100%;
	text-align: center;
}

.left-home h1 {
	font-size: 8lvw;
}

.left-home h2 {
	font-size: 5lvw;
}

.left-home p {
	font-size: 3lvw;
}

.my-picture {
	width: 50lvw;
	height: 50lvw;
	border-radius: 50%;
	background-image: url(./assets/imgs/my-picture.jpg);
	background-position: center;
	background-size: 100%;
	object-fit: contain;
}

.media a i {
	color: black;
	background-color: white;
	padding: 0.5rem;
	border-radius: 50%;
	font-size: 1.5rem;
}

.media-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

/* Projects ******************************** */

.projects {
	position: relative;
}

.bg-video-container {
	position: relative;
	width: 100%;
	object-fit: cover;
}

.back-video {
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
}

.bg-color {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #00000054;
	z-index: 30;
}

.projects-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 35;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.box-container {
	width: 22lvw;
	height: 22lvw;
	perspective: 600px;
	margin: 0 auto;
	transition: 0.5s linear;
	opacity: 0.5;
	transform: scale(0.5);
}

.cube {
	position: relative;
	width: 20lvw;
	height: 20lvw;
	transform-style: preserve-3d;
	animation: move-cube 1.2s infinite ease-in;
}

@keyframes move-cube {
	0% {
		transform: rotateY(10deg) rotateX(-5deg);
	}
	15% {
		transform: rotateY(-10deg) rotateX(-5deg);
	}
	30% {
		transform: rotateY(5deg) rotateX(-5deg);
	}
	45% {
		transform: rotateY(-10deg) rotateX(10deg);
	}
	65% {
		transform: rotateY(10deg) rotateX(5deg);
	}
	80% {
		transform: rotateY(-5deg) rotateX(10deg);
	}
	100% {
		transform: rotateY(20deg) rotateX(-5deg);
	}
}

@keyframes rotate-cube {
	0% {
		transform: rotateY(20deg) rotateX(20deg);
	}
	100% {
		transform: rotateY(180deg) rotateX(180deg);
	}
}

.box-container:hover {
	transform: scale(1);
	opacity: 1;
}

.box-container:hover .cube {
	animation: rotate-cube 1.5s ease-in-out;
}

.cube div {
	position: absolute;
	width: 20lvw;
	height: 20lvw;
	background-color: rgb(142, 142, 142);
	box-shadow: 0 2px 10px -1px rgb(192, 192, 193);
}

.cube .front {
	transform: translateZ(2lvw);
}

.cube .back {
	transform: rotateX(180deg) translateZ(2lvw);
}

.cube .left {
	width: 4lvw;
	transform: rotateY(-90deg) translateZ(2lvw);
}

.cube .right {
	width: 4lvw;
	transform: rotateY(90deg) translateZ(18lvw);
}

.cube .top {
	height: 4lvw;
	transform: rotateX(90deg) translateZ(2lvw);
}

.cube .bottom {
	height: 4lvw;
	transform: rotateX(-90deg) translateZ(18lvw);
}

/* Media Queries ************************************************ */
@media screen and (min-width: 320px) {
	/* Header ************************ */
}

@media screen and (min-width: 450px) {
	.section-padding {
		padding: 3rem 2rem;
	}

	/* Header ************************ */
	header:hover .left-header,
	header:hover .right-header {
		visibility: visible;
		opacity: 1;
	}
}

@media screen and (min-width: 600px) {
	/* Header ************************ */

	.left-header,
	.right-header {
		flex-direction: row;
	}

	header:hover .left-header,
	header:hover .right-header {
		transform: rotate(90deg);
	}

	header:hover .left-header img,
	header:hover .right-header img {
		transform: rotate(-90deg);
	}

	.left-header img,
	.right-header img {
		height: 50px;
		margin: 0.5rem;
	}

	/* Home ******************************** */
	.home-content {
		flex-direction: row;
	}

	.left-home * {
		text-align: left;
	}

	.left-home {
		width: 50%;
		gap: 2rem;
	}

	.my-picture {
		width: 40lvw;
		height: 40lvw;
	}
	/* .my-picture {
		width: 240px;
		height: 240px;
	} */

	.left-home h1 {
		font-size: 6lvw;
	}

	.left-home h2 {
		font-size: 3.5lvw;
	}

	.left-home p {
		font-size: 2lvw;
	}
}

@media screen and (min-width: 768px) {
	/* Header ******************************** */

	.left-header img,
	.right-header img {
		height: 60px;
		margin: 1rem;
	}

	/* Home ******************************** */
	.home-content {
		gap: 4rem;
	}

	.my-picture {
		width: 30lvw;
		height: 30lvw;
	}
}

@media screen and (min-width: 900px) {
	/* Home ************************ */

	.left-home h1 {
		font-size: 5lvw;
	}

	.left-home h2 {
		font-size: 3lvw;
	}

	.left-home p {
		font-size: 2lvw;
	}
}

@media screen and (min-width: 1024px) {
	/* Header ************************ */

	.left-header img,
	.right-header img {
		height: 70px;
		margin: 1.5rem;
	}

	/* Home ************************ */

	.home-content {
		gap: 5rem;
	}

	.left-home h1 {
		font-size: 4.5lvw;
	}

	.left-home h2 {
		font-size: 2.8lvw;
	}

	.left-home p {
		font-size: 1.8lvw;
	}

	.my-picture {
		width: 25lvw;
		height: 25lvw;
	}
}

@media screen and (min-width: 1200px) {
	/* Header ************************ */

	.left-header img,
	.right-header img {
		height: 70px;
		margin: 2rem;
	}

	/* Home ************************ */

	.home-content {
		gap: 6rem;
	}

	.left-home h1 {
		font-size: 4lvw;
	}

	.left-home h2 {
		font-size: 2.3lvw;
	}

	.left-home p {
		font-size: 1.3lvw;
	}

	.my-picture {
		width: 18lvw;
		height: 18lvw;
	}
}
